

<h1>NoName</h1>
<p>Web bán truyện được ưa thích nhất</p>

<h2 class="text-center">Giỏ hàng</h2>
<div class="container">
  <table id="cart" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th style="width:50%">Tên sản phẩm</th>
        <th style="width:10%">Giá</th>
        <th style="width:8%">Số lượng</th>
        <th style="width:22%">Thành tiền</th>
        <th style="width:10%"> </th>
      </tr>
    </thead>
    <tbody>
      {{#each cartBooks}}
        
        <tr class="row-data" id="{{this.masach}}">
          <td data-th="Product">
            <div class="row">
              <div class="col-lg-3 hidden-xs">
                <img
                  src="{{this.HINHANH}}"
                  alt="Sản phẩm 1"
                  class="img-responsive"
                  width="100"
                />
              </div>
              <div class="col-sm-9">
                <input
                  type="hidden"
                  class="id-book-hidden"
                  value="{{this.masach}}"
                  name="bookID"
                />
                <h4 class="nomargin">{{this.tensach}}</h4>
              </div>
            </div>
          </td>
          <td class="book-price" data-th="Price">{{this.gia}}</td>
          <td  data-th="Quantity"><input
              class="form-control text-center book-qty"
              value="{{this.SOLUONG}}"
              id="input-{{this.masach}}"
              type="number"
              onchange="updataTotalAndQty('{{this.masach}}')"
              min="1"
            />
            <td class="book-subtotal" data-th="Subtotal">{{this.subPrice}}</td>
          </td>
          <td class="actions" data-th="">
            <input type="hidden" value="{{makh}}" name="MAKH"/>
            <button class="btn btn-danger btn-sm" onclick="removeBook('{{this.masach}}','{{makh}}')"><i class="fa fa-trash-o">Loại
                bỏ</i>
            </button>
          </td>
          
        </tr>
        
      {{/each}}
      {{! <tr>
                    <td data-th="Product">
                        <div class="row">
                            <div class="col-lg-3 hidden-xs"><img
                                    src="https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/400x400/9df78eab33525d08d6e5fb8d27136e95/i/m/image_195509_1_50089.jpg"
                                    alt="Sản phẩm 1" class="img-responsive" width="100">
                            </div>
                            <div class="col-sm-9">
                                <h4 class="nomargin">Trạng quỷnh tập 100</h4>
                            </div>
                        </div>
                    </td>
                    <td data-th="Price" >10.000 đ</td>
                    <td data-th="Quantity"><input class="form-control text-center" min="0" step="1" value="1" type="number">
                    <td data-th="Subtotal">10.000 đ</td>
                    </td>
                    <td class="actions" data-th="">
                        <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o">Loại bỏ</i>

                    </td>
                </tr> }}
    </tbody>
    <tfoot>
      <tr>
        <td><a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i>
            Tiếp tục mua hàng</a>
        </td>
        <td colspan="2" class="hidden-xs"> </td>
        <td class="hidden-xs text-center"><strong id="total-price">Tổng tiền
            0 đ</strong>
        </td>
        <td>
          <form action="/shopping-cart/payment" method="POST" onsubmit="return checkSubmit();">
            <button
              type="submit"
              class="btn btn-success btn-block"
              id="submit-payment"
            >Thanh toán <i class="fa fa-angle-right"></i></button>
          </form>

        </td>
      </tr>
    </tfoot>
  </table>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>
{{!-- MODAL ANNOUCEMENT--}}
{{#if payment}}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" zrole="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      {{payment.message}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{{/if}}
<script>

function updateTotal() { 
    var allPrices=document.getElementsByClassName("book-price"); 
    var   allSubPrices=document.getElementsByClassName("book-subtotal"); 
    var  counts=document.getElementsByClassName("book-qty"); 
    var total=0; 
    var   totalStrong=document.getElementById("total-price"); 
    for(let i=0;i<allPrices.length;i++)
    {
        var subprice=parseInt(allPrices[i].innerHTML)*parseInt(counts[i].value);
        allSubPrices[i].innerHTML=subprice;
        total+=subprice;
        console.log(subprice);
        
        
    }
    console.log(total);

    totalStrong.innerHTML=String("Tổng tiền "+String(total)+"đ");
}
  updateTotal();
  
  var btnSubmit=$('#submit-payment')[0];


function loadBook(bookID)
{
    $.ajax({
        url:'/api/books/'+bookID,
        method:"GET",
        data:{},
        success:function(data)
        {
            console.log(data.book);
        }
        
    });
}
  
</script>
<script>
function removeBook(bookID,userID)
{
  console.log(bookID+"-"+userID+"is remove");
  
  //remove element display;
  document.getElementById(bookID).remove();
  //update total
  updateTotal();
  
  //check is user
  if(userID!='')
  {//remove in database
  removeFromCart(bookID,userID);
  }
}

function removeFromCart(bookID,userID)
{
  $.ajax({
        url:'/api/dathang/'+userID+'/'+bookID,
        method:"POST",
        success:function(data)
        {
            console.log(data);
        }
        
    });
}

function updateQtyInCart(bookID,Qty)
{
  $.ajax({
        url:'/api/update/dathang/'+bookID+'/'+Qty,
        method:"POST",
        success:function(data)
        {
            console.log(data);
        }
        
    });
}

function updataTotalAndQty(bookid)
{
  updateTotal();
  const inputBook=document.getElementById("input-"+bookid);
  const qty=parseInt(inputBook.value);
  updateQtyInCart(bookid,qty);
  console.log("update "+bookid+": "+String(qty));
}

function checkSubmit()
{
  const books=document.getElementsByClassName("book-price");
  var btnSubmit=document.getElementById("submit-payment");
  if(books.length<=0)
  {
    console.log("Can't submit");
    return false;
  }
  console.log("Submit success!");
  return true;
}
</script>
