<body>

  <div class="container">



    <h1>{{title}}</h1>
    <p>Web bán truyện được ưa thích nhất</p>


    <div class="card">
      <div class="card-body">
        <h4>Truyện tranh mới</h4>
      </div>
      <div class="row">
        <div class="categories__slider owl-carousel">
          {{#each newComics}}
          <div class="col-lg-3">
            <div class="categories__item set-bg">
              <div class="card" style=" height:100%">
                <a href="/books/{{this.masach}}">
                  <img src="{{this.HINHANH}}" class="card-img-top" alt="{{this.tensach}}" />
                </a>
                <div class="card-body">
                  <a href="/books/{{this.masach}}">
                    <div class="card-title">
                      {{this.tensach}}
                    </div>
                  </a>
                  <p class="card-text">{{this.MOTA}}</p>
                </div>

                <div class="card-body">
                  <button class="btn btn-outline-success">Thêm vào giỏ</button>
                  <button class="btn btn-outline-success">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
          {{/each}}

        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h4>Truyện chữ mới</h4>
      </div>
      <div class="row">
        <div class="categories__slider owl-carousel">
          {{#each newNovels}}
          <div class="col-lg-3">
            <div class="categories__item set-bg">
              <div class="card" style=" height:100%">
                <a href="/books/{{this.masach}}">
                  <img src="{{this.HINHANH}}" class="card-img-top" alt="{{this.tensach}}" />
                </a>
                <div class="card-body">
                  <a href="/books/{{this.masach}}">
                    <div class="card-title">
                      {{this.tensach}}
                    </div>
                  </a>
                  <p class="card-text">{{this.MOTA}}</p>
                </div>
                <div class="card-body">
                  <button class="btn btn-outline-success">Thêm vào giỏ</button>
                  <button class="btn btn-outline-success">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
          {{/each}}

        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h4>Top truyện tranh hot</h4>
      </div>
      <div class="row">
        <div class="categories__slider owl-carousel">
          {{#each hotComics}}
          <div class="col-lg-3">
            <div class="categories__item set-bg">
              <div class="card" style=" height:100%">
                <a href="/books/{{this.masach_sach.masach}}">
                  <img src="{{this.masach_sach.HINHANH}}" class="card-img-top" alt="{{this.masach_sach.tensach}}" />
                </a>
                <div class="card-body">
                  <a href="/books/{{this.masach_sach.masach}}">
                    <div class="card-title">
                      {{this.masach_sach.tensach}}
                    </div>
                  </a>
                  <p class="card-text">{{this.masach_sach.MOTA}}</p>
                </div>

                <div class="card-body">
                  <button class="btn btn-outline-success">Thêm vào giỏ</button>
                  <button class="btn btn-outline-success">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
          {{/each}}

        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h4>Top truyện chữ hot</h4>
      </div>
      <div class="row">
        <div class="categories__slider owl-carousel">
          {{#each hotNovels}}
          <div class="col-lg-3">
            <div class="categories__item set-bg">
              <div class="card" style=" height:100%">
                <a href="/books/{{this.masach_sach.masach}}">
                  <img src="{{this.masach_sach.HINHANH}}" class="card-img-top" alt="{{this.masach_sach.tensach}}" />
                </a>
                <div class="card-body">
                  <a href="/books/{{this.masach_sach.masach}}">
                    <div class="card-title">
                      {{this.masach_sach.tensach}}
                    </div>
                  </a>
                  <p class="card-text">{{this.masach_sach.MOTA}}</p>
                </div>

                <div class="card-body">
                  <button class="btn btn-outline-success">Thêm vào giỏ</button>
                  <button class="btn btn-outline-success">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
          {{/each}}

        </div>
      </div>
    </div>

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
  </div>
</body>