<div class="container">
  <h1>{{title}}</h1>
  <p>Web bán truyện được ưa thích nhất</p>
  <div class="book-information">
    <h2 style="color: orange;">{{category}}</h2>
    <div class="row">
      <div class="col-2">
        <p>Sắp xếp theo :</p>
      </div>
      <div class="col-10">
        <a class=" btn mr-1 btn-primary" href="?sort=5">Theo A-Z</a>
        <a class=" btn mr-1 btn-primary" href="?sort=4"> Bán chạy  </a>
        <a class=" btn mr-1 btn-primary" href="?sort=1"> Mới nhất </a>
        <select class="float-left mr-1 form-select" id= "sort" style="width: 150px;">
          <option value="none" selected disabled hidden> Giá </option>
          <option value="2">Giá giảm</option>
          <option value="3">Giá tăng </option>
        </select>
      </div>
    </div>
    </div>

    <div class="mt-4">
      <div class="row">
        {{#each books}}

        <div class="col-sm-6 col-lg-4" style = "margin-bottom: 20px;">
                    <a href="/books/{{this.masach}}">
                   
                    {{!-- <a href="/books/{{this.masach}}"> --}}
          <div class="card" style=" height:100%">
            <div class="card-top">
              <img src="{{this.HINHANH}}" class="card-img-top" alt="{{this.tensach}}" />
            </div>
              <div class="card-body">
                <div class="card-title">
                  {{this.tensach}}
                </div>

                <p class="card-text">{{this.MOTA}}</p>
              </div>
            </div>
        </a>
          </div>
        {{else}}
        <div style = "font-style: italic;">
          <h3>Chưa có truyện cho thể loại {{category}}</h3>
        </div>
        {{/each}}

      </div>
    </div>
    <div class="d-flex justify-content-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination" id="pagination">
          {{!-- <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li> --}}
        </ul>
      </nav>
    </div>

  </div>
</div>
<script>
  var val = 'none'
  if( '{{sort}}' == '3' || '{{sort}}' == '2' ){
    val = '{{sort}}'
  }
  $('#sort').val(val)
  var page ='{{sort}}' ;
  generatePagination({{totalPage}},{{currentPage}},"/books/category/{{category}}?sort="+ page+"&&page=");
  $('#sort').on('change', function(e) {
    page = e.target.value;
    location.replace(`/books/category/{{category}}?sort=${page}`)
  })
</script>